<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">
					<f:render section="iconButtons" />
				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="{f:translate(key:'docheader.report.checks')}" controller="Report" action="checks" />
						<f:be.menus.actionMenuItem label="{f:translate(key:'docheader.report.show')}" controller="Report" action="show" />
						<f:be.menus.actionMenuItem label="{f:translate(key:'docheader.report.extension')}" controller="Report" action="extension" />
						<f:be.menus.actionMenuItem label="{f:translate(key:'docheader.report.pageIdList')}" controller="Report" action="pageIdList" />
					</f:be.menus.actionMenu>
						<!--<f:be.menus.actionMenuItem label="{f:translate(key:'docheader.report.reportOverview')}" controller="Report" action="reportOverview" />-->
				</div>
				<div class="docheader-row2-right">
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />
				<f:render section="main" />
			</div>
		</div>
	</div>
</f:be.container>
