
span.item-state-modified {
	color: #f78f25;
}
span.item-state-moved {
	color: #457fb8;
}
span.item-state-new {
	color: #3c9934;
}
span.item-state-hidden {
	color: #abaaaa;
}
span.item-state-deleted {
	color: #000000;
	text-decoration: line-through;
}

ul.t3-upgradereport-checks > li {
	margin:8px;
	padding:8px;
	border:1px solid #abaaaa;
	background-color: #3c9934;
}