
li > div.header-container > h4 {
	margin-top: 0;
	padding-top: 0;
}

.feedback .clearing,
.feedback .running {
	display: none;
}

.toolbar {
	text-align: right;
}

/* Screen Only */
@media screen {
	.noprint {
		display: block !important;
	}

	.noshow {
		display: none !important;
	}
}

/* Print Only */
@media print {
	.noprint {
		display: none !important;
	}

	.noshow {
		display: block !important;
	}
}